@(phrase: models.Phrase, categories: Seq[models.Category] = Seq.empty)

@import _helpers.markdown._

@_layouts.default(Some(phrase.term)) {

  <div class="well">@phrase.translation</div>

  <div>@Html(md2html(phrase.description))</div>

  <div class="form-group clearfix">
    <div class="pull-right">
      <a class="btn btn-default" href="@routes.PhraseController.edit(Some(phrase.id))">Edit</a>
      <a class="btn btn-danger" href="@routes.PhraseController.delete(phrase.id)"
         onclick="return confirm('Are you sure to delete?')">Delete</a>
    </div>
  </div>

  @if(!categories.isEmpty) {
    <h3>Related Categories</h3>
    <ul>
    @categories.map { category =>
      <li><a href="@routes.CategoryController.detail(category.id)">@category.title</a></li>
    }
    </ul>
  }
}