@(phrase: models.Phrase, categories: Seq[models.Category] = Seq.empty)

@import _helpers.markdown._

@_layouts.default(Some(phrase.content)) {

  <div class="form-group">
    <div class="pull-right">
      <a class="btn btn-default" href="@routes.PhraseController.edit(Some(phrase.id))">Edit</a>
    </div>
  </div>

  <p>@phrase.definition</p>

  <div>@Html(md2html(phrase.description))</div>

  @if(!categories.isEmpty) {
    <h3>Categories</h3>
    <ul>
    @categories.map { category =>
      <li><a href="@routes.CategoryController.detail(category.id)">@category.title</a></li>
    }
    </ul>
  }
}