@(form: Form[models.form.PhraseEditForm], flash: Option[String] = None)(implicit messages: Messages)

@import _helpers.default._
@import play.api.i18n.Messages

@_layouts.default(Some("Editing Phrase")) {

  @if(flash.isDefined) {
    <div class="alert alert-success" data-role="flash">This entry has been saved successfully.</div>
  }

  @if(form.hasErrors) {
    <div class="alert alert-danger">
      <ul>
      @for(err <- form.errors) {
        <li>@Messages(err.message, err.args: _*)</li>
      }
      </ul>
    </div>
  }

  <div style="max-width: 600px">
    @helper.form(routes.PhraseController.postEdit()) {
      @toHtmlInput(form("id"), 'type -> "hidden")
      <div class="form-group">
        <label>Lang</label>
        <select name="lang" class="form-control" style="width: 200px">
          @toHtmlOption(form("lang"), models.form.PhraseEditForm.langOptions)
        </select>
      </div>
      <div class="form-group">
        <label>Term</label>
        @toHtmlInput(form("term"), 'class -> "form-control")
      </div>
      <div class="form-group">
        <label>Translation</label>
        @toHtmlInput(form("translation"), 'class -> "form-control")
      </div>
      <div class="form-group">
        <label>Description</label>
        @toHtmlTextarea(form("description"), 'class -> "form-control", 'rows -> "10")
      </div>
      <div class="form-group">
        <label>Categories</label>
        @toHtmlTextarea(form("categoryTitlesText"), 'class -> "form-control", 'rows -> "5")
      </div>
      <div class="form-group">
        <div class="form-inline">
          <input type="submit" value="Submit" class="btn btn-success">
          @form("id").value.filter(!_.isEmpty).map { id =>
            <a class="btn btn-default" href="@routes.PhraseController.detail(id.toLong)">View</a>
          }
        </div>
      </div>
    }
  </div>
}