@(phraseSelectPagination: components.util.Pagination[models.PhraseSelect],
    phraseSearchForm: Form[models.form.PhraseSearchForm])

@import _helpers.default._

@_layouts.default(Some("Phrases")) {

  <div class="form-group clearfix">
  @helper.form(routes.PhraseController.search(), 'class -> "form-inline") {
    <div class="form-group">
      @toHtmlInput(phraseSearchForm("q"), 'class -> "form-control")
    </div>
    <input type="submit" value="Search" class="btn btn-default">
  }
  </div>

  @if(!phraseSelectPagination.rows.isEmpty) {
    <table class="table">
      <tr>
        <th>Content</th>
        <th colspan="2">Definition</th>
      </tr>
      @for(row <- phraseSelectPagination.rows) {
        <tr>
          <td><a href="@routes.PhraseController.detail(row.id)">@row.content</a></td>
          <td>@row.definition</td>
          <td align="right">
            <a class="btn btn-default" href="@routes.PhraseController.edit(Some(row.id))">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      }
    </table>

    @pager(phraseSelectPagination, routes.PhraseController.index().path())
  }
}