@(phraseSelectPagination: components.util.Pagination[models.PhraseSelect],
    phraseSearchForm: Form[models.form.PhraseSearchForm])

@import _helpers.default._

@_layouts.default(Some("Phrases")) {

  <div class="form-group">
    <div class="form-inline">
      @helper.form(routes.PhraseController.search()) {
        @toHtmlInput(phraseSearchForm("q"), 'class -> "form-control")
        <input type="submit" value="Search" class="btn btn-default">
      }
    </div>
  </div>

  @if(!phraseSelectPagination.rows.isEmpty) {
    <table class="table">
      <tr>
        <th>Content</th>
        <th>Definition</th>
      </tr>
      @for(row <- phraseSelectPagination.rows) {
        <tr>
          <td><a href="@routes.PhraseController.detail(row.id)">@row.content</a></td>
          <td>@row.definition</td>
        </tr>
      }
    </table>

    @pager(phraseSelectPagination, routes.PhraseController.index().path())
  }
}